@{
    ViewBag.Title = "Home Page";
}

<style>
    .centerAligh{
        text-align:center;
    }
</style>
<div class="jumbotron">
    <h1>Welcome to banking application</h1>
    <br />
    <div class="left" >
        <div class="row">
            <p>
                <a href="~/Accounts/Index">View Accounts </a>
            </p>
        </div>
        <div class="row">
            <p>
                <a href="~/FundTransfer/FundTransfer">Funds Transfer</a>
            </p>
        </div>
        <div class="row">
            <p>
                <a href="~/Transactions/Index">View Transactions</a>
            </p>
        </div>

    </div>
        
</div>

